@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.container {
  margin: auto;
  max-width: 1600px;
  width: 100%;
}

a {
  text-decoration: none;
}

.headerr {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: var(--violet);
  gap: 132px;
}
.headerr .burger-button {
  display: none;
}
.headerr .burger-button div {
  width: 20px;
  height: 2px;
  background-color: black;
  margin-bottom: 1px;
  margin-right: 10px;
  margin-bottom: 4px;
}
.headerr .logo {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
}
.headerr .logo h1 {
  margin-left: 10px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  color: white;
}
.headerr .menu-head {
  display: flex;
  gap: 64px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.headerr .menu-head a {
  color: white;
}
.headerr .phone-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  width: 268px;
  height: 54px;
  border: 1px white solid;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.headerr .phone-head img {
  height: 30px;
  width: 30px;
}

.sec1 {
  background-image: url(/images/backg.png);
  height: 693px;
}
.sec1 .content1 {
  padding-top: 260px;
  margin-left: 90px;
}
.sec1 .content1 h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 54px;
  color: var(--violet);
  text-transform: uppercase;
}
.sec1 .content1 p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  width: 459px;
  margin-top: 20px;
  line-height: 160%;
}
.sec1 .content1 button {
  margin-top: 20px;
  background-color: var(--violet);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  width: 268px;
  height: 53px;
  border: none;
}
.sec1 .social1 {
  margin-left: 90px;
  margin-top: 150px;
  display: flex;
  gap: 30px;
}
.sec1 .social1 a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: var(--gray);
}

.sec2 {
  margin-top: 70px;
  height: 627px;
}
.sec2 h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec2 .content2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.sec2 .content2 .img {
  max-height: 499px;
}
.sec2 .content2 .text2 {
  max-width: 478px;
  margin-left: 50px;
}
.sec2 .content2 .text2 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: black;
  line-height: 160%;
}
.sec2 .content2 .text2 p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  margin-top: 9px;
  line-height: 160%;
}
.sec2 .content2 .text2 button {
  margin-top: 20px;
  background-color: var(--violet);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  width: 222px;
  height: 56px;
  border: none;
}

.sec3 {
  height: 531px;
  padding-top: 80px;
  position: relative;
}
.sec3 h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec3 .line3 {
  height: 1px;
  background-color: var(--violet);
}
.sec3 .first3 {
  position: absolute;
  bottom: 275px;
}
.sec3 .second3 {
  position: absolute;
  top: 324px;
}
.sec3 .content3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 48px;
}
.sec3 .content3 h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  margin-top: 41px;
  max-width: 290px;
}
.sec3 .content3 p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  line-height: 160%;
  margin-top: 41px;
  max-width: 290px;
}

.sec4 {
  margin-top: 50px;
  max-width: 1420px;
  height: 510px;
  position: relative;
}
.sec4 h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec4 .content4 {
  max-width: 1420px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
}
.sec4 .content4 .maincontent4 {
  display: flex;
  margin-left: 30px;
}
.sec4 .content4 .maincontent4 .text4 {
  margin-left: 30px;
  max-width: 603px;
}
.sec4 .content4 .maincontent4 .text4 h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: black;
}
.sec4 .content4 .maincontent4 .text4 p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  line-height: 160%;
  max-width: 603px;
  margin-top: 30px;
}
.sec4 .content4 .maincontent4 .text4 button {
  margin-top: 30px;
  background-color: var(--violet);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  width: 290px;
  height: 67px;
  border: none;
}
.sec4 .content4 .arrow {
  width: 15px;
  height: 30px;
}
.sec4 .content4 .arrow .right {
  position: absolute;
  right: 90px;
}
.sec4 .content4 .arrow .left {
  position: absolute;
  left: 90px;
}
.sec4 .content4 .lily {
  position: absolute;
  bottom: 0px;
  right: 80px;
}

.sec5 {
  margin-top: 25px;
  max-width: 1420px;
  height: 600px;
  position: relative;
  margin: auto;
}
.sec5 h1 {
  margin-top: 64px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec5 .menu5 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.sec5 .menu5 a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: var(--gray);
}
.sec5 .option5 {
  max-width: 1420px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-right: 47px;
}
.sec5 .option5 .arrow {
  width: 15px;
  height: 30px;
}
.sec5 .option5 .arrow .right {
  position: absolute;
  right: 90px;
}
.sec5 .option5 .arrow .left {
  position: absolute;
  left: 90px;
}
.sec5 .option5 .opt5 {
  width: 50%;
  margin: auto;
  max-width: 400px;
}
.sec5 .option5 .opt5 img {
  margin: auto;
  display: flex;
  align-items: center;
}
.sec5 .option5 .opt5 h2 {
  margin-top: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: var(--violet);
  text-align: center;
}
.sec5 .option5 .opt5 p {
  margin-top: 5px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: var(--gray);
  text-align: center;
}

.sec6 {
  height: 911px;
}
.sec6 .button6 {
  display: flex;
  justify-content: center;
}
.sec6 button {
  margin-top: 60px;
  background-color: var(--violet);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  width: 222px;
  height: 54px;
  border: none;
  text-transform: uppercase;
}
.sec6 h1 {
  margin-top: 64px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec6 .contant6 {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
.sec6 .contant6 .option6 {
  max-width: 700px;
}
.sec6 .contant6 .option6 h2 {
  margin-top: 29px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: black;
}
.sec6 .contant6 .option6 .line6 {
  height: 1px;
  background-color: var(--violet);
}
.sec6 .contant6 .option6 .down {
  margin-top: 29px;
}
.sec6 .contant6 .option6 p {
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  line-height: 160%;
  max-width: 640px;
}
.sec6 .contant6 .option6 img {
  margin-top: 20px;
}

.sec7 {
  height: 410px;
}
.sec7 h1 {
  margin-top: 25px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 40px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec7 .content7 {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec7 .content7 .arrow {
  width: 15px;
  height: 30px;
}
.sec7 .content7 .arrow .right {
  position: absolute;
  right: 90px;
}
.sec7 .content7 .arrow .left {
  position: absolute;
  left: 90px;
}
.sec7 .content7 .feedbacks7 {
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
  gap: 20px;
}
.sec7 .content7 .feedbacks7 .feedback7 {
  border: var(--violet) 1px solid;
  position: relative;
  max-width: 640px;
}
.sec7 .content7 .feedbacks7 .feedback7 h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  color: var(--violet);
  line-height: 160%;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 35px;
}
.sec7 .content7 .feedbacks7 .feedback7 p {
  max-width: 559px;
  margin: auto;
  padding: 20px 40px 40px 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  line-height: 160%;
}
.sec7 .content7 .feedbacks7 .feedback7 img {
  position: absolute;
  top: 25px;
  right: 46px;
}

.sec8 {
  display: flex;
  justify-content: center;
}
.sec8 .content8 {
  margin-left: 40px;
  position: relative;
}
.sec8 .content8 h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  max-width: 627px;
}
.sec8 .content8 .register8 {
  max-width: 608px;
  padding-right: 70px;
}
.sec8 .content8 .register8 input {
  margin-top: 30px;
  height: 43px;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: black;
  line-height: 160%;
}
.sec8 .content8 .register8 label {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: black;
  line-height: 160%;
}
.sec8 .content8 .register8 .line8 {
  height: 1px;
  background-color: var(--gray);
}
.sec8 .content8 .register8 p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: black;
  line-height: 160%;
}
.sec8 .content8 .register8 .chose88 {
  margin-top: 30px;
  position: relative;
}
.sec8 .content8 .register8 .chose88 .chose8 {
  display: flex;
}
.sec8 .content8 .register8 .chose88 .chose8 img {
  width: 20px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.sec8 .content8 .register8 .timechose {
  display: flex;
  justify-content: center;
  gap: 47px;
}
.sec8 .content8 .register8 .time {
  max-width: 280px;
  width: 100%;
}
.sec8 .content8 .register8 button {
  margin-top: 70px;
  background-color: var(--violet);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  width: 222px;
  height: 54px;
  border: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  right: 90px;
}

.sec9 {
  margin-top: 100px;
}
.sec9 h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: var(--violet);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.sec9 .content9 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.sec9 .content9 .content9left p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: black;
  line-height: 160%;
  margin-top: 10px;
}
.sec9 .content9 .content9left h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  color: var(--violet);
  line-height: 160%;
  margin-top: 5px;
}
.sec9 .content9 .content9left .social9 {
  margin-top: 5px;
  display: flex;
  gap: 25px;
}
.sec9 .content9 .content9left .social9 img {
  height: 25px;
  width: 25px;
}
.sec9 .content9 .content9left button {
  margin-top: 40px;
  background-color: var(--violet);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  width: 222px;
  height: 54px;
  border: none;
  text-transform: uppercase;
}

.footer {
  padding-top: 30px;
  margin-top: 112px;
  height: 168px;
  background-color: var(--violet);
  display: flex;
  justify-content: center;
  gap: 132px;
}
.footer .logo {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
}
.footer .logo h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 32px;
  color: white;
}
.footer .menu-foot {
  display: flex;
  gap: 64px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.footer .menu-foot a {
  color: white;
  white-space: nowrap;
}
.footer .phone-foot h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
}
.footer .phone-foot p {
  margin-top: 5px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: white;
  line-height: 160%;
}
.footer .phone-foot .social-foot {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --violet: #9C2482;
  --gray:#524848;
}