.sec6 {
    height: 911px;
    .button6 {
        display: flex;
        justify-content: center;
    }

    button {
        margin-top: 60px;
        background-color: var(--violet);
        @include font("Montserrat", 700, 18px, white);
        width: 222px;
        height: 54px;
        border: none;
        text-transform: uppercase;
    }

    h1 {
        margin-top: 64px;
        @include font("Playfair Display", 700, 40px, var(--violet));
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }

    .contant6 {
        justify-content: center;
        display: flex;
        gap: 10px;
        margin-top: 24px;

        .option6 {
            
            max-width: 700px;

            h2 {
                margin-top: 29px;
                @include font("Montserrat", 700, 24px, black);
            }

            .line6 {
                height: 1px;
                background-color: var(--violet);
            }

            .down {
                margin-top: 29px;
            }

            p {
                margin-top: 20px;
                @include font("Montserrat", 400, 16px, var(--gray));
                line-height: 160%;
                max-width: 640px;
            }

            img {
                margin-top: 20px;
            }
        }
    }
}