@import './container', './headerr', './sec1', './sec2', './sec3', './sec4','./sec5','./sec6','./sec7','./sec8','./sec9','./_footer';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --violet: #9C2482;
    --gray:#524848;
}

